@font-face {
    font-family: "monospacesilkscreenexpanded-51g8-webfont";
    font-weight: lighter;
    src: url(fuentes/silkscreenexpanded-51g8-webfont.woff2) format(woff2);
    
}
@font-face {
    font-family:"silverfinster-x3l2k-webfont" ;
    font-weight: 400;
    src: url(fuentes/silverfinster-x3l2k-webfont.woff2) format(woff2);
    
}

    #text1{
        font-family: "monospacesilkscreenexpanded-51g8-webfont";
        font-size: 13px;
        width: 70%;
          text-align: center;
          margin: auto;
          padding-bottom: 3%;
      

    }

#header{
        font-family: "monospacesilkscreenexpanded-51g8-webfont";
        text-align: center;
        font-size: 16px;
}

#back{
 display: block;
color: black;
font-family:"monospacesilkscreenexpanded-51g8-webfont";
font-size: 12px;
text-align: center;
margin-top: 30px;
padding-bottom: 2%;
}






@media (max-width:600px){
    #text1{
        font-size: 2%;
      
    }
    #header{
        font-size: 14px;
    }

}